<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Add Student</title>
</head>
<body>
        <center>
            <h3>Enetr Student Details...</h3>
            <form>
                <label>Eneter name</label>
                <input type="text" name="name" placeholder="First name">
                <br>
                 <br>
                <label>Enter location</label>
                <input type="text" name="location" placeholder="location">
                 <br>
                 <br>
                <label>Enter city</label>
                <input type="text" name="city" placeholder="city">
                 <br>
                 <br>
                <label>contact</label>
                <input type="number" name="contact" placeholder="contact">
                 <br>
                 <br>
                <a href="orders"><input type="submit" value="save"> </a>
                <input type="reset" value="cancel">
            </form>
        </center>

</body>

</html>